@using System.ServiceModel.Security
@model LeagueTrackerWebApp.Models.LoginModel

@{
    Layout = "~/Views/Shared/_TierLayout.cshtml";
    ViewBag.Title = "Log in";
}

<h2>Log in</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    
    <text>Username</text>
    <p>
        @Html.TextBoxFor(m => m.UserName)<br/>
        @Html.ValidationMessageFor(m => m.UserName)
    </p>
    
    <text>Password</text>
    <p>
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </p>

    @Html.CheckBoxFor(m => m.RememberMe)
    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
