@model LeagueTrackerWebApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_TierLayout.cshtml";
}

<h1>Register</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div>
        <label>I am the:</label>
        @Html.DropDownListFor(x => x.FirstName, Model.UserTypes.Select(x => new SelectListItem()
        {
            Text = x.Value, Value = x.Key
        }))
        <label>First Name *</label>
        @Html.TextBoxFor(x => x.FirstName)
        @Html.ValidationMessageFor(x => x.FirstName)<br/>
        <label>Last Name</label>
        @Html.TextBoxFor(x => x.LastName)<br/>
        <label>Email *</label>
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)<br/>
        <label>Username *</label>
        @Html.TextBoxFor(x => x.Username)
        @Html.ValidationMessageFor(x => x.Username)
        <label>Password *</label>
        @Html.PasswordFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)<br/>
        <label>Confirm Password *</label>
        @Html.PasswordFor(x => x.ConfirmPassword)
        @Html.ValidationMessageFor(x => x.ConfirmPassword)<br/>
        <input type="submit" value="Register"/>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
